html, body{
    margin: 0;
    padding: 0;
}
.home{
    display: flex;
}
.logo{
    /* background-color: green; */
    margin: auto;
    margin-left: 45%;
}
h2{
    margin-left: 40%;
}
h4{
    margin-left: 43%;
    margin-top: 0px;
}
.all{
    display: grid;
    /* background-color: red; */
}
.field{
    /* background-color: blue; */
    height: 40px;
    width: 260px;
    margin-left: 35%;
    border-radius: 50px;
    border-color: Gray: hsl(0, 0%, 59%);

}
